.header {
    background-color: #fff;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding: 26px 0 26px 0;
}

.header__top-menu {
    cursor: pointer;
}

.header__top > div {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__menu-link {
    padding: 24px 0;
}

.header__menu-link--active {
    font-weight: 700;
}

.header__menu {
    display: flex;
    justify-content: center;
}

.header__menu-list {
    display: flex;
    gap: 48px;
}